{{- define "main" -}} 
{{ $home := site.Params.home }}
<article
  class="layout panes basic-single-pane"
  id="home-page">
  <section class="layout pane">
    {{/* Home page header and tagline */}}
    {{ if or $home.title $home.tagline }}
      <section id="home-header">
        <span class="site-id">
          {{/* Site ID logo */}}
          <img 
            height="80"
            width="80"
            src="{{ site.Params.assets.favicon | default "sitelogo.svg" | absURL }}" 
            alt="Site logo">

          {{/* Site title */}}
          {{ with $home.title }}
            <h1>
              {{ default site.Title . | markdownify }}
            </h1>
          {{ end }}
        </span>

        {{/* Site tagline */}} 
        {{ with $home.tagline }}
          <span class="tagline title-large">
            {{ . | markdownify }}
          </span>
        {{ end }}
      </section>
    {{ end }}

    {{/* Components Panel */}}
    <section class="panel">
      <div class="components-panel">
        {{/*  Top row  */}}
        <div class="row">
          {{/*  4 common buttons  */}}
          <div class="column">
            <div class="row">
              {{ partial "components/actions/button-common.html" (dict
                "type" "outlined"
                "label" "Back")}}
              {{ partial "components/actions/button-common.html" (dict
                "type" "filled"
                "label" "Complete")}}
            </div>
            <div class="row">
              {{ partial "components/actions/button-common.html" (dict
                "type" "tonal"
                "icon" "send"
                "label" "Send")}}
              {{ partial "components/actions/button-common.html" (dict
                "type" "elevated"
                "icon" "open_in_new"
                "label" "Open")}}
            </div>
          </div>
          {{/*  3 FABs  */}}
          <div class="column">
            {{ partial "components/actions/button-fab.html" (dict
              "class" "primary-container"
              "size" "large"
              "icon" "add")}}
          </div>
          <div class="column">
            {{ partial "components/actions/button-fab.html" (dict
              "class" "secondary-container"
              "size" "medium"
              "icon" "edit")}}
            {{ partial "components/actions/button-fab.html" (dict
              "class" "tertiary-container"
              "size" "small"
              "icon" "edit")}}
          </div>
        </div>
        {{/*  Middle row  */}}
        <div class="row">
          {{/*  4 icon buttons  */}}
          <div class="column">
            <div class="row">
              {{ partial "components/actions/button-icon.html" (dict
                "type" "filled"
                "icon" "palette")}}
              {{ partial "components/actions/button-icon.html" (dict
                "type" "tonal"
                "icon" "edit")}}
            </div>
            <div class="row">
              {{ partial "components/actions/button-icon.html" (dict
                "type" "outlined"
                "icon" "check")}}
              {{ partial "components/actions/button-icon.html" (dict
                "type" "standrd"
                "icon" "help")}}
            </div>
          </div>
          {{/*  2 circular progress  */}}
          <div class="column">
            <div class="row">
              {{ partial "components/communications/progress-indicators.html" (dict
                "config" "circular"
                "determinate" "determinate")}}
              {{ partial "components/communications/progress-indicators.html" (dict
                "config" "circular"
                "determinate" "indeterminate")}}
            </div>
            {{/*  2 linear progress  */}}
            <div class="column">
              {{ partial "components/communications/progress-indicators.html" (dict
                "config" "linear"
                "determinate" "determinate")}}
              {{ partial "components/communications/progress-indicators.html" (dict
                "config" "linear"
                "determinate" "indeterminate")}}
            </div>
          </div>
          <div class="row">
            {{/*  2 radios  */}}
            {{ $radioData := dict 
              "name" "radio"
              "options" (slice
                (dict "checked" true)
                (dict "checked" false) ) }}
            {{ partial "components/selections/radio-buttons.html" $radioData }}  
            <div class="column">
              {{/*  1 checkbox  */}}
              {{ partial "components/selections/checkboxes.html" (dict
                "checked" "checked")}}
              {{/*  1 switch  */}}
              {{ partial "components/selections/switches.html" (dict 
                "checked" "checked"
                "icons" "both") }}
            </div>
          </div>
        </div>
        <div class="row">
          {{/*  3 chips  */}}
          {{ partial "components/selections/chips.html" (dict
            "container" "outlined"
            "name" "chips"
            "leading_icon" "today"
            "label" "Add to calendar") }}
          {{ partial "components/selections/chips.html" (dict
            "container" "elevated"
            "name" "chips"
            "leading_icon" "check"
            "label" "Free shipping"
            "checked" "checked") }}
          {{ partial "components/selections/chips.html" (dict
            "container" "outlined"
            "name" "chips"
            "label" "Close chip"
            "trailing_icon" "close") }}
        </div>
      </div>
    </section>

    {{/* Site welcome blurb */}} 
    {{ if or $home.blurb $home.welcome }}
      <section id="home-blurb">
        {{ with $home.welcome }}
          <h2>{{ . | markdownify }}</h2>
        {{ end }}

        {{ with $home.blurb }}
          <span class="blurb title-medium">
            {{ . | markdownify }}
          </span>
        {{ end }}
      </section>
    {{ end }} 

    {{/* Home page content */}} 
    {{ with .Content }}
      <div id="post-content">
        <div class="home-page-content">{{ . }}</div>
      </div>
    {{ end }} 
    
    {{/* Home page buttons */}}
    <section class="home-buttons-container">
      {{- partialCached "homepage-buttons.html" $home -}}
    </section>
  </section>
</article>
{{- end -}}
