.elevations-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--size-32), 1fr));
  grid-auto-rows: minmax(var(--size-32), auto);
  gap: var(--size-2);
  margin: var(--spacing-panes);

  [class*="elevation"] {
    display: flex;
    flex-flow: column nowrap;
    padding: var(--spacing-panes);
    justify-content: center;
    align-items: center;
  }
}
