.typeface-container {
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-2);

  & h2 {
    margin-bottom: 1rem;
    margin-inline: 0;
    padding: 1rem;
    width: 100%;
  }

  .typeface-weights {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 1rem;
    border-radius: var(--shape-corner-m);

    color: var(--color-on-surface);
    background-color: var(--color-surface);
    
    > * {
      border-radius: inherit;
    }

    & div {
      flex: 1 1 0;
      padding: var(--size-3) var(--size-5);
    }

    :first-child {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: var(--size-3) var(--size-5);
      background-color: var(--color-surface-container);
      font-size: var(--typescale-title-large-size);
      font-weight: var(--typescale-title-large-weight);
      line-height: var(--typescale-title-large-line-height);
    }
  }
}

.typescale-container {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--size-2);

  & h2 {
    margin-bottom: 1rem;
    margin-inline: 0;
    padding: 1rem;
    width: 100%;
  }

  [class*="typescale-"] {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--size-3);
    padding: var(--size-3) var(--size-5);
    color: var(--color-on-surface);
    background-color: var(--color-surface);
    border-radius: var(--shape-corner-m);
  }
}

.typeface-container,
.typescale-container {
  margin: var(--spacing-panes);
}
