{{ define "main" }}
<article
  class="layout panes basic-single-pane"
  id="showcase-typography">
  <section
    class="layout pane"
    id="post-content">
    {{ with .Content }} 
      {{ . }} 
    {{ end }}
    <details
      class="layout showcase-tokens"
      open>
      <summary class="showcase-tokens-title">Typeface</summary>
      {{ $typefaceFonts := slice "Brand" "Plain" "Code" }} 
      {{ $typefaceFontClasses := slice "title-small" "body-large" "code-typeface" }} 
      {{ $typefaceWeights := slice "700" "500" "400" }} 
      {{ $typefaceWeightNames := slice "bold" "medium" "regular" }}
      <section class="typeface-container">
        {{ range $k, $v := $typefaceFonts }}
          <div class="typeface-weights">
            <h3 class="{{ index $typefaceFontClasses $k }}">{{ . }}</h3>
            {{ range $i, $j := $typefaceWeights }} 
              {{ $weightName := index $typefaceWeightNames $i }}
              <div
                class="{{ index $typefaceFontClasses $k }}"
                style="font-weight: var(--typeface-weight-{{ $weightName }});">
                {{ . }} {{ $weightName }}
              </div>
            {{ end }}
          </div>
        {{ end }}
      </section>
    </details>

    <details
      class="layout showcase-tokens"
      open>
      <summary class="showcase-tokens-title">Type scale</summary>
      <section class="typescale-container">
        {{ $typescaleTypes := slice "display" "headline" "title" "body" "label" }} 
        {{ $typescaleSizes := slice "large" "medium" "small" }} 
        {{ $typescaleClasses := slice "display" "headline" "title" "body" "label" }} 
        {{ range $k, $v := $typescaleTypes }}
          <div class="typescale-{{ . }}s">
            {{ range $i, $j := $typescaleSizes }}
              <div class="{{ index $typescaleClasses $k }}-{{ . }}">
                {{ title $v }} {{ title . }}
              </div>
            {{ end }}
          </div>
        {{ end }}
      </section>
    </details>

    <details
      class="layout showcase-tokens"
      open>
      <summary class="showcase-tokens-title">Type scale Emphasized</summary>
      <section class="typescale-container">
        {{ $typescaleTypes := slice "display" "headline" "title" "body" "label" }} 
        {{ $typescaleSizes := slice "large" "medium" "small" }} 
        {{ $typescaleClasses := slice "display" "headline" "title" "body" "label" }} 
        {{ range $k, $v := $typescaleTypes }}
          <div class="typescale-{{ . }}s">
            {{ range $i, $j := $typescaleSizes }}
              <div class="{{ index $typescaleClasses $k }}-{{ . }} emphasized">
                Emphasized {{ title $v }} {{ title . }}
              </div>
            {{ end }}
          </div>
        {{ end }}
      </section>
    </details>
  </section>
</article>
{{ end }}
